.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
    max-width: 500px;

    grid-area: information;

    .languages-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        width: 100%;
    }

    .education-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        width: 100%;
    }
    span {
        color: var(--text-secundary);
        gap:8px;
        margin-left: 10px;
        font-size: 18px;
    }

    .bandeira {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}